# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dataset
dataset/
data/

# ML Models
*.h5
*.pt
*.pth
*.pkl

# VS Code
.vscode/

models/
*.pkl
*.joblib
*.h5
*.pt
venv/
__pycache__/
datasets/